table, th, td{
    border:1px solid black;
}

table{
    width: 50%;
    border-collapse: collapse;
}

th {
    height: 45px;
    background-color:  green;
    color: white;
}

td {
    text-align: center;
}