*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    text-align: center;
    padding: 20px;
    background-color: ;
}
#sidebar {
    width: 25%;
    float: left;
    padding: 10px;
    background-color: lightpink;
}
#content {
    width: 75%;
    float: right;
    padding: 20px;
    background-color: lightblue;
}
#footer {
    clear: both;
    text-align: center;
    padding: 20px;
}

h2 {
    margin-bottom: 15px;
}

img {
    float: right;
    border-radius: 20px;
}

ul{
    list-style-type: none;
    background-color: #f1f1f1;
}

li{
    display: block;
    color: #000;
    padding: 8px 16px;
}

li:hover {
    background-color: #555;

}